services:
  museum:
    image: ghcr.io/ente-io/server
    ports:
      - {{ .MuseumPort }}:8080
    volumes:
      - ./museum.yaml:/museum.yaml:ro
      - ./data:/data:ro
    depends_on:
      postgres:
        condition: service_healthy
    extra_hosts:
      - storage.ente.localhost:host-gateway

  web:
    image: ghcr.io/ente-io/web
    ports:
      - {{ index .WebPorts "photos" }}:3000
      - {{ index .WebPorts "accounts" }}:3001
      - {{ index .WebPorts "albums" }}:3002
      - {{ index .WebPorts "auth" }}:3003
      - {{ index .WebPorts "cast" }}:3004 
    environment:
      ENTE_API_ORIGIN: https://api.ente.{{ .Domain }}
      ENTE_ALBUMS_ORIGIN: https://albums.ente.{{ .Domain }}

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: {{ .DB.Password }}
      POSTGRES_DB: ente_db
    healthcheck:
      test: pg_isready -q -d ente_db -U pguser
      start_period: 40s
    volumes:
      - postgres-data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    ports:
      - 3200:3200
      - 3201:3201
    environment:
      MINIO_ROOT_USER: {{ .S3.Key }}
      MINIO_ROOT_PASSWORD: {{ .S3.Secret }}
    command: server /data --address ":3200" --console-address ":3201"
    volumes:
      - minio-data:/data

  minio-setup:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc alias set h0 http://minio:3200 {{ .S3.Key }} {{ .S3.Secret }};
      /usr/bin/mc mb h0/b2-eu-cen;
      /usr/bin/mc mb h0/wasabi-eu-central-2-v3;
      /usr/bin/mc mb h0/scw-eu-fr-v3;
      exit 0;
      "

  caddy:
    image: caddy:2-alpine
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - museum
      - web

volumes:
  postgres-data:
  minio-data:
  caddy_data:
  caddy_config:
  shared_certs: